{% extends 'flatpages/default.html' %}

<html lang="en">
<head>
    {% block title %}
    Your responds
    {% endblock title %}
</head>
<body>

    {% block content %}
    {% if responds %}
    <table class="table table-primary">
    {% for respond in responds %}
        <tr>
            <td>
                {{ respond.responder }}
            </td>
            <td>
                {{ ticket.category }}
            </td>
            <td>
                {{ ticket.head }}
            </td>
            <td>
<!--                нужен реквест пост вместе с respond.responder.email-->
                <button class="btn btn-primary">Accept respond 2</button>
                <input type="submit" value="{% respond.responder.email %}" name="accept">
<!--                <a class="btn btn-primary" href="" methods="post" type="submit" name="accept">Accept respond</a>-->
            </td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <h5>Nobody responded to this ticket yet</h5>
    {% endif %}
    {% endblock content %}
</body>
</html>